<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
                template="./coreTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml">>

    <ui:define name="top">
        top
    </ui:define>

    <ui:define name="content">
        <h>
            
            How to:
            <ol>
            <li>Create an account at the sign up link on the menu</li>
            <li>Click the login box and enter your login details</li>
            <li>Once logged in click on "My Profile" and you will be taken to your page</li>
            <li>Click upload new game to upload a game to the site</li>
            <li>Follow the wizard and upload a zipped file containing your html5 game files</li>
            <li>Next input a unique name for your game and click next</li>
            <li>Finally submit your game and if it succeeds return to your profile</li>
            <li>Click the link to your created game to play</li>
            </ol>
            
        </h>
    </ui:define>

</ui:composition>
