<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="./coreTemplate.xhtml">

            <ui:define name="top">
                top
            </ui:define>

            <ui:define name="content">
                <h:form>
                <p:carousel value="#{HomePageBean.trendingGames}" var="game" itemStyleClass="gameItem">  
                    <h:panelGrid columns="1" style="width:100%" cellpadding="5">  
                        <p:graphicImage value="#{game.thumb}"/>   

                        <h:outputText value="Author: #{game.uploader}" />  

                        <h:outputText value="Title: #{game.title}" />  
                    </h:panelGrid>  
                </p:carousel>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
