<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

    <body>

        <ui:composition template="./coreTemplate.xhtml">
            
            
            <ui:define name="top">
                
            </ui:define>

            <ui:define name="left">
                
            </ui:define>

            <ui:define name="content">
                <c:choose>
                    <c:when test="#{profilePageBean.isLoggedIn()}">
                        #{profilePageBean.initialize()}
                        
                        <p:panel id="profile" header="#{profilePageBean.userName}'s Profile">
                            <h:outputText value="Points: #{profilePageBean.points}"/>
                        </p:panel>
                        
                        <p:panel id="friends" header="#{profilePageBean.userName}'s Friends">
                            <h:form>
                            <p:dataGrid var="friend" value="#{profilePageBean.friends}" columns="3">
                                <p:column>
                                <p:panel header="#{friend.userName}">
                                    <p:graphicImage value="#{friend.avatar}"/>
                                </p:panel>
                                </p:column>
                            </p:dataGrid>
                            </h:form>
                        </p:panel>
                        
                        <p:panel id="games" header="#{profilePageBean.userName}'s Games">
                            <h:form>
                                <h:link outcome="uploadGame.xhtml" value="Upload a new game" >
                                        <h:graphicImage library="images" name="default.png" />
                                </h:link>
                                <p:dataGrid var="game" value="#{profilePageBean.games}" columns="3"> 
                                <p:column>
                                    #{profilePageBean.refresh()}
                                    <p:panel header="#{game.title}">
                                        <h:outputLink id="gameLink" value="#{request.contextPath}/games/#{game.title}">
                                            #{game.title}
                                        </h:outputLink>
                                    <p:graphicImage value="#{game.thumb}"/>
                                    </p:panel>
                                </p:column>
                            </p:dataGrid>
                            </h:form>  
                        </p:panel>   
                    </c:when>
                    <c:otherwise>
                    <P>Please Login</P>
                    </c:otherwise>
                </c:choose>
                
            </ui:define>

        </ui:composition>

    </body>
</html>
