<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="./coreTemplate.xhtml">
            
            <ui:define name="top">
                top
            </ui:define>

            <ui:define name="content">
                <h:form>
                    <p:panel header="#{usersPageBean.getUserName()}" rendered="#{usersPageBean.userExists()}">
                        <h:panelGrid rendered="#{usersPageBean.isLoggedIn()}">

                            <p:messages id="usersPageMessages" autoUpdate="true" ></p:messages>

                            <h:outputText rendered="#{usersPageBean.isActiveUser()}" id="yourAccount" value="Your Page"/>
                            <h:panelGrid rendered="#{!usersPageBean.isActiveUser()}">
                                <h:outputText rendered="#{usersPageBean.isFriend()}" value="In your Friends"/>
                                <p:commandButton rendered="#{!usersPageBean.isFriend()}" value="Send Friend Request" actionListener="#{usersPageBean.sendFriendRequest()}"> </p:commandButton>
                            </h:panelGrid>

                        </h:panelGrid>
                        <p:carousel value="usersPageBean.friends" var="friend" easing="easingOutBounce">
                            <h:outputText value="Friend #{friend}"></h:outputText>
                        </p:carousel>

                    </p:panel>
                </h:form>
                <h:outputText value="Sorry That user does not exist" rendered="#{!usersPageBean.userExists()}"> 
                </h:outputText>
            </ui:define>

        </ui:composition>

    </body>
</html>
