<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <h:outputStylesheet name="css/default.css"/>
        <h:outputStylesheet name="css/cssLayout.css"/>
        <link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/images/favicon.ico"/>
        <title>::Game Corral::</title>
    </h:head>

    <h:body>
        <div id="top" class="top">
            <h2>::Game Corral::</h2>
            <h:form>
                <p:menubar>
                    <p:menuitem value="Home" url="#{requestScope.contextPath}/home.xhtml"/>
                    <p:menuitem value="Sign Up" url="#{requestScope.contextPath}/signup.xhtml"/>
                    <p:menuitem value="My Profile" url="#{requestScope.contextPath}/profile.xhtml"/>
                    <p:menuitem value="Games" url="#{requestScope.contextPath}/games.xhtml"/>
                    <p:menuitem value="About" url="#{requestScope.contextPath}/about.xhtml"/>
                    <p:graphicImage value="#{requestScope.contextPath}/images/login.png" />
                    <p:menuitem rendered="#{!usersPageBean.isLoggedIn()}" value="login" onclick="dlg.show()" />
                    <p:menuitem rendered="#{usersPageBean.isLoggedIn()}" value="#{usersPageBean.activeUserName}" onclick="dlg.show()"/>
                </p:menubar>
                <p:dialog id="dialog" header="Login" widgetVar="dlg">  
                      
                        <h:panelGrid columns="2" cellpadding="5">  
                            <h:outputLabel for="username" value="Username: *" />  
                            <p:inputText value="#{LoginBean.username}"   
                                    id="username" required="true" label="username" />  

                            <h:outputLabel for="password" value="Password: * " />  
                            <h:inputSecret value="#{LoginBean.password}"   
                                    id="password" required="true" label="password" />  

                            <f:facet name="footer">  
                            <p:commandButton value="Login"  
                                actionListener="#{LoginBean.login}"   
                                oncomplete="handleLoginRequest(xhr, status, args)"/>  
                            </f:facet>   
                        </h:panelGrid>  
                      
                </p:dialog>
                </h:form>
  
                <script type="text/javascript">  
                    function handleLoginRequest(xhr, status, args) {  
                    if(args.validationFailed || !args.loggedIn) {
                        console.log("HERE");
                        jQuery('#dialog').parent().effect("shake", { times:3 }, 100);  
                    } else {  
                    dlg.hide();  
                    jQuery('#loginLink').fadeOut();  
                    }  
    }  
</script>  
            <ui:insert name="top">Top</ui:insert>
        </div>
            <div id="left">
                
            </div>
            <div id="content" class="left_content">

                <ui:insert name="content">Content</ui:insert>
                <h:form>
                    <p:growl id="globalmessages" showDetail="true" life="3000" autoUpdate="true"/>
                </h:form>
            </div>
    </h:body>

</html>
