<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <body>

        <ui:composition template="./coreTemplate.xhtml">

            <ui:define name="top">
                top
            </ui:define>
            
            <ui:define name="left">
                <p:graphicImage value="#{gamePageBean.getThumb}"/>
            </ui:define>

            <ui:define name="content">
                <p:panel header="#{gamePageBean.getGame()}">
                        
                    <h:outputText id="gamePage" value="#{gamePageBean.getPageContent()}" escape="false"/>
                    
                    <canvas id='c' tabindex='-1' style="outline:0"></canvas>
                    <br/>POINTS: <span id="points">0</span>

                    <script>
                       #{gamePageBean.content}
                    </script>
                    
                    
                </p:panel>
                
            </ui:define>

        </ui:composition>

    </body>
</html>
