<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="./coreTemplate.xhtml">

            <ui:define name="top">
                Please provide your details to sign up
            </ui:define>

            <ui:define name="content">
                <h:form id="signupform">
                    <h:outputText value="Please Choose your name"/>
                    <h:inputText value="#{SignupBean.username}" id="username" required="true" label="username" /><br></br>
                    <h:outputText value="Please Choose your password"/>
                    <h:inputText value="#{SignupBean.password}" id="password" required="true" label="username" />
                    <h:commandButton actionListener="#{SignupBean.signup()}"/>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
