<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <body>

        <ui:composition template="./coreTemplate.xhtml">

            <ui:define name="top">
                top
            </ui:define>

            <ui:define name="content">
                <h:form rendered="#{profilePageBean.loggedIn}">
                    <p:panel header="Upload a new Game">
                        <p:wizard widgetVar="wiz"  
                                    flowListener="#{uploadGameBean.onGameUploadFlowProcess}">  
                            
                            <p:tab id="gamefiles" title="Files">  
                                <p:panel header="Game Files">  

                                    <h:messages errorClass="error"/>  

                                    <h:panelGrid columns="2" columnClasses="label, value">
                                        <h:form id="gameUploadWizForm" enctype="multipart/form-data">
                                            <h:outputLabel value="Upload Zip File"/>
                                            <p:fileUpload fileUploadListener="#{uploadGameBean.handleGameUpload}"  
                                                mode="advanced"    
                                                sizeLimit="1000000"   
                                                allowTypes="/(\.|\/)(zip)$/"/>  
                                        </h:form>

                                        <h:form id="gameAvatarWizForm" enctype="multipart/form-data">
                                            <h:outputLabel value="Upload Thumbnail File"/>
                                            <p:fileUpload fileUploadListener="#{uploadGameBean.handleIconUpload}"  
                                                mode="advanced"   
                                                sizeLimit="100000"   
                                                allowTypes="/(\.|\/)(jpg|png|gif)$/"/>  
                                        </h:form> 
                                    </h:panelGrid>  
                                </p:panel>  
                            </p:tab>
                            
                            <p:tab id="gameattribs" title="Attributes">  

                                <p:panel header="Game Attributes">  

                                    <h:messages id="gameuploaderror" errorClass="gameuploaderror"/>

                                    <h:panelGrid columns="2" columnClasses="label, value" styleClass="grid">  
                                        <h:outputText value="Game Title: " />  
                                        <p:inputText required="true" label="Game Title"  
                                                     value="#{uploadGameBean.title}" />  
                                    </h:panelGrid>  
                                </p:panel>  
                            </p:tab>  

                            <p:tab id="confirm" title="Confirm">  
                                <p:panel header="Confirmation">  

                                    <h:panelGrid id="confirmation" columns="6">  
                                        <h:outputText value="Game Title: " />  
                                        <h:outputText styleClass="outputLabel"  
                                                        value="#{uploadGameBean.currentGame.title}"/>  
                                    </h:panelGrid>
                                    <p:commandButton value="Submit Game"   
                                                        actionListener="#{uploadGameBean.commitUpload}"/>

                                </p:panel>  
                            </p:tab>  

                        </p:wizard>  

                        <p:ajaxStatus>  
                            <f:facet name="start">  
                                <h:graphicImage value="../design/ajaxloading.gif" />  
                            </f:facet>  

                            <f:facet name="complete">  
                                <h:outputText value="" />  
                            </f:facet>  
                        </p:ajaxStatus>  
                    </p:panel>
                </h:form>
                <h:form rendered="#{!profilePageBean.loggedIn}">
                    <p:panel header="Please log in">
                          
                    </p:panel>
                </h:form> 
            </ui:define>

        </ui:composition>

    </body>
</html>
